- @page_title = "Ils participeront et vous ?"

%h1 Ils participeront à l'événement le 5 décembre
%p
  Joignez-vous à nous en remplissant notre formulaire
  %a{ :href => 'Form.html'}
  != link_to "d'inscription", new_attendee_path
#MemberListContainer
  %table{ :class => 'MemberList', :cellspacing =>'0', :cellpadding =>'0'}
    %tr
      %th{ :class => 'Place'}
      %th{ :class => 'Avatar'}
      %th{ :class => 'FirstName'} Nom
      %th{ :class => 'LastName'} Prénom
      %th{ :class => 'Orgnisation'} Organisation
      %th{ :class => 'WebSite'} Site
      %th{ :class => 'TagsList'} Tags
      %th{ :class => 'TShirtSize'}
    %tbody#attendees
      - @waiting_list = @attendees[Attendee::waiting_list_position..-1]
      - @attendees -= @waiting_list
      != render :partial => "attendee", :collection => @attendees
      %tr
        %td{:colspan => 7}
          %br
          %strong LISTE D'ATTENTE
          %br
      != render :partial => "attendee", :collection => @waiting_list

