%h1
  Venez constuire en
  %br
  24h
  %br
  un espace pour entreprendre

%p
  Un espace pour :
  %ul
    %li Poursuivre ses rêves
    %li Allumer des idées
    %li Forger des projets
    %li Former des équipes
    %li Appendre ce "métier" d'entrepreneur
    %li Changer le monde !

%p
  Le voyage vous tente ?
  %br
  Venez passez de l'idée à l'action pour le plaisir de partager, d'apprendre, d'expérimenter.

%p
  L'Usine à Projets vous donne rendez-vous les 27 et 28 novembre 2009 au 31, rue principale Schiltigheim au FORUM OUVERT.
  Pour tout autre renseignement, envoyez un mail à 
  != mail_to "contact@forum-ouvert.org"

%p
  %table
    %tr
      %td Ve 27/11
      %td 14h
      %td Accueil
    %tr
      %td
      %td 14h15 à 18h
      %td Session Imagination
    %tr
      %td Sa 28/11
      %td 8h30
      %td Buffet petit-déjeûner
    %tr
      %td
      %td 9h à 12h
      %td Session Convergence
    %tr
      %td
      %td 12h
      %td Déjeûner en commun "apportez votre spécialité"
    %tr
      %td
      %td 14h à 18h
      %td Session Action
    %tr
      %td
      %td 20h à (très) très tard
      %td On souffle les 2 bougies de l'Usine à Projets

%br
%br

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=31A+rue+principale+Schiltigheim,+France&amp;sll=46.75984,1.738281&amp;sspn=7.58788,21.09375&amp;ie=UTF8&amp;ll=48.61464,7.755747&amp;spn=0.007151,0.020599&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=31A+rue+principale+Schiltigheim,+France&amp;sll=46.75984,1.738281&amp;sspn=7.58788,21.09375&amp;ie=UTF8&amp;ll=48.61464,7.755747&amp;spn=0.007151,0.020599&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Agrandir le plan</a></small>
