%h1{:align => "center", :style => ""}
  Venez constuire en 24h
  %br
  un espace pour entreprendre

%div{:style => "margin-top:20px;font-size:20px;"}
  Un espace pour :
  %ul{:style => "margin-left:300px;margin-top:20px;text-align:left;font-size:18px;"}
    %li
      %p{:style => "font-size:16px;"} Poursuivre ses rêves
    %li{:style => "margin-left:10px;"}
      %p{:style => "font-size:16px;"} Allumer des idées
    %li{:style => "margin-left:-10px;"}
      %p{:style => "font-size:16px;"} Forger des projets
    %li{:style => "margin-left:10px;"}
      %p{:style => "font-size:16px;"} Former des équipes
    %li{:style => "margin-left:-10px;"}
      %p{:style => "font-size:16px;"} Appendre ce "métier" d'entrepreneur
    %li{:style => "margin-left:10px;"}
      %p{:style => "font-size:16px;"} Changer le monde !

%p{:style => "margin-top:20px;font-size:14px;"}
  Le voyage vous tente ?
  %br
  Venez passez de l'idée à l'action pour le plaisir de partager, d'apprendre, d'expérimenter.

%p{:style => "font-size:14px;"}
  L'Usine à Projets vous donne rendez-vous les <strong>27 et 28 novembre 2009</strong>
  %br
  au <strong>Centre européen de la jeunesse</strong> 30 rue Pierre de Coubertin STRASBOURG.

%p{:style => "font-size:14px;"}
  Pour tout autre renseignement, envoyez un mail à 
  != mail_to "contact@forum-ouvert.org"

%div{:style => "margin:40px;"}

%h3 Programme

%p
  %table{:cellspacing => "7px;"}
    %tr
      %td Ve 27/11
      %td 14h à 18h30
      %td Session Imagination
    %tr
      %td Sa 28/11
      %td 8h30
      %td
        %p
          Accueil et buffet petit-déjeûner offert par l'Usine
    %tr
      %td
      %td 9h30 à 18h30
      %td
        De l'imagination à l'action
        %p
          Un buffet déjûner sera dressé avec VOS spécialités respectives
    %tr
      %td
      %td 20h à (très) très tard
      %td On souffle les 2 bougies de l'Usine à Projets

%div{:style => "margin:40px;"}

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Centre+europ%C3%A9en+de+la+jeunesse+30+rue+Pierre+de+Coubertin+STRASBOURG&amp;sll=46.75984,1.738281&amp;sspn=7.557764,20.302734&amp;ie=UTF8&amp;hq=Centre+europ%C3%A9en+de+la+jeunesse&amp;hnear=30+Rue+Pierre+de+Coubertin,+67000+Strasbourg&amp;ll=48.611462,7.773685&amp;spn=0.007123,0.019827&amp;z=14&amp;iwloc=A&amp;cid=10539833309043377148&amp;output=embed"></iframe><br /><small><a href="http://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=Centre+europ%C3%A9en+de+la+jeunesse+30+rue+Pierre+de+Coubertin+STRASBOURG&amp;sll=46.75984,1.738281&amp;sspn=7.557764,20.302734&amp;ie=UTF8&amp;hq=Centre+europ%C3%A9en+de+la+jeunesse&amp;hnear=30+Rue+Pierre+de+Coubertin,+67000+Strasbourg&amp;ll=48.611462,7.773685&amp;spn=0.007123,0.019827&amp;z=14&amp;iwloc=A&amp;cid=10539833309043377148" style="color:#0000FF;text-align:left">Agrandir le plan</a></small>
