%h1{:align => "center", :style => "font-size:40px;margin: 40px;"}
  GameCampParis

%p{:style => "font-size:14px;"}
  La <strong>1ère édition</strong> du <strong>GameCamp</strong> aura lieu le <strong>samedi 5 Decembre 2009</strong>, dans les locaux de PLAY ALL, 8 passage Brûlon 75012 Paris, métro Ledru-Rolin, Bâtiment A – 2ème étage (Après le 1er interphone, tout de suite sous le porche à gauche, puis 2ème interphone et 2ème étage, porte droite).
 
%p{:style => "font-size:14px;"}  
  Ce BarCamp est sponsorisé par PLAY ALL (merci à toute l'équipe PLAY ALL et en particulier à Anne Devouassoux).
  %br
  != image_tag "playall.png"

%p{:style => "font-size:14px;"}
  Pour tout autre renseignement, envoyez un mail à 
  != mail_to "whirly.von.elsass@gmail.com"

%div{:style => "margin:40px;"}

%h3 Planning de la journée

%p
  %table{:cellspacing => "7px;"}
    %tr
      %td 9h
      %td Accueil autour d'un petit déjeuner convivial et remise des t-shirts
    %tr
      %td 9h30
      %td Démarrage des sessions du matin
    %tr
      %td 12h
      %td Pause déjeûner
    %tr
      %td 13h30
      %td Café
    %tr
      %td 14h
      %td Reprise des sessions
    %tr
      %td 18h
      %td Fin des sessions - Cocktail pour décompresser
    %tr
      %td 19h
      %td Départ pour un dîner entre amis (After) pour ceux qui le souhaitent

%div{:style => "margin:40px;"}

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=8+passage+Br%C3%BBlon+75012+Paris&amp;sll=46.75984,1.738281&amp;sspn=7.527648,16.809082&amp;ie=UTF8&amp;hq=&amp;hnear=8+Passage+Brulon,+75012+Paris,+Ile-de-France&amp;ll=48.858503,2.384119&amp;spn=0.00706,0.016415&amp;z=14&amp;iwloc=r10&amp;output=embed"></iframe><br /><small><a href="http://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=8+passage+Br%C3%BBlon+75012+Paris&amp;sll=46.75984,1.738281&amp;sspn=7.527648,16.809082&amp;ie=UTF8&amp;hq=&amp;hnear=8+Passage+Brulon,+75012+Paris,+Ile-de-France&amp;ll=48.858503,2.384119&amp;spn=0.00706,0.016415&amp;z=14&amp;iwloc=r10" style="color:#0000FF;text-align:left">Agrandir le plan</a></small>
