<TABLE BORDER=1 CELLPADDING=0 CELLSPACING=0>
	<COL WIDTH=160>

	<COL WIDTH=57>
	<COL WIDTH=143>
	<COL WIDTH=269>
	<COL WIDTH=359>
	<TR VALIGN=TOP>
		<TD WIDTH=160>
			<P CLASS="western"><B>Hôtels</B></P>
		</TD>

		<TD WIDTH=57>
			<P CLASS="western"><B>Cat.</B></P>
		</TD>
		<TD WIDTH=143>
			<P CLASS="western"><B>Prix</B></P>
		</TD>
		<TD WIDTH=269>
			<P CLASS="western"><B>Adresse
			et site internet</B></P>

		</TD>
		<TD WIDTH=359>
			<P CLASS="western"><B>Avis</B></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=160>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>

			</P>
			<P CLASS="western">Hôtel
			le Régent</P>
		</TD>
		<TD WIDTH=57>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western"></P>
		</TD>

		<TD WIDTH=143>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Chambre
			standard individuelle&nbsp;:</P>
			<P CLASS="western">De
			150 € à 445 €</P>
		</TD>
		<TD WIDTH=269>
			<P CLASS="western" STYLE="margin-bottom: 0cm">5,
			Rue Moulin</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 76 43 43</P>

			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.regent-petite-France.com/">www.regent
			petite France.com</A></U></P>
		</TD>
		<TD WIDTH=359>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">En
			pleine petite France, design, luxueux et cher</P>
		</TD>
	</TR>

	<TR VALIGN=TOP>
		<TD WIDTH=160>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Hôtel
			Hilton</P>
			<P CLASS="western"><BR>
			</P>
		</TD>

		<TD WIDTH=57>
			<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" ALIGN=CENTER></P>
		</TD>
		<TD WIDTH=143>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>

			<P CLASS="western">De
			99 € à 159 €</P>
		</TD>
		<TD WIDTH=269>
			<P LANG="de-DE" CLASS="western" STYLE="margin-bottom: 0cm">Avenue
			Herrenschmidt</P>
			<P LANG="de-DE" CLASS="western" STYLE="margin-bottom: 0cm">03
			88 37 10 10</P>
			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.hilton.com/"><SPAN LANG="de-DE">www.hilton.com</SPAN></A></U></P>
		</TD>

		<TD WIDTH=359>
			<P LANG="de-DE" CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">A
			côté du Palais des Congrès, luxe sans âme</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=160>

			<P CLASS="western" STYLE="margin-bottom: 0cm">Quality
			Suites<FONT SIZE=2 STYLE="font-size: 9pt"><BR>Victoria
			Garden</P>
			<P CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=57>
			<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" ALIGN=CENTER></P>

		</TD>
		<TD WIDTH=143>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">De
			115 € à 135 €</P>
		</TD>
		<TD WIDTH=269>
			<P CLASS="western" STYLE="margin-bottom: 0cm">9,
			Rue Magasins</P>

			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			90 22 44 55</P>
			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.victoriagarden.com/">www.victoriagarden.com</A></U></P>
		</TD>
		<TD WIDTH=359>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Appartements
			hôtel</P>

		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=160>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Hôtel
			Beaucour</P>
			<P CLASS="western"><BR>

			</P>
		</TD>
		<TD WIDTH=57>
			<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" ALIGN=CENTER></P>
		</TD>
		<TD WIDTH=143>

			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">De
			95 € à 152 €</P>
		</TD>
		<TD WIDTH=269>
			<P CLASS="western" STYLE="margin-bottom: 0cm">5,
			Rue Boucher</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 76 72 00</P>

			<P CLASS="western"><A CLASS="western" HREF="mailto:info@hotel-beaucour.com"><FONT COLOR="#0000ff"><U>www.hotel.beaucour</U><FONT COLOR="#0000ff"><U>.com</U></A></P>
		</TD>
		<TD WIDTH=359>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Hôtel
			en centre ville, agréable</P>
		</TD>

	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=160>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Hôtel
			Hannong</P>
			<P CLASS="western"><BR>
			</P>

		</TD>
		<TD WIDTH=57>
			<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" ALIGN=CENTER></P>
		</TD>
		<TD WIDTH=143>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>

			</P>
			<P CLASS="western">De
			85 € à 197 €</P>
		</TD>
		<TD WIDTH=269>
			<P CLASS="western" STYLE="margin-bottom: 0cm">15,
			Rue du 22 novembre</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 32 16 22</P>
			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.hotel-hannong.com/">www.hotel
			hannong.com</A></U></P>

		</TD>
		<TD WIDTH=359>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Hôtel
			en centre ville, près des grands magasins</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>

		<TD WIDTH=160>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Hôtel
			de l’Orangerie</P>
			<P CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=57>

			<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" ALIGN=CENTER></P>
		</TD>
		<TD WIDTH=143>
			<P CLASS="western" STYLE="margin-bottom: 0cm">De
			65 € à 100 €</P>
			<P CLASS="western">Petit
			déjeuner à 8 €</P>

		</TD>
		<TD WIDTH=269>
			<P CLASS="western" STYLE="margin-bottom: 0cm">58,
			Allée de la Robertsau</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 35 10 69</P>
			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.hotel-orangerie-strasbourg.com/">www.hotel
			orangerie strasbourg.com</A></U>
			
			</P>

		</TD>
		<TD WIDTH=359>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Près
			du quartier européen,</P>
			<P CLASS="western">à
			côté du très beau parc de l’Orangerie</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=160>

			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Hôtel
			du Dragon</P>
			<P CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=57>
			<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0cm"><BR>

			</P>
			<P CLASS="western" ALIGN=CENTER></P>
		</TD>
		<TD WIDTH=143>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Chambre
			standard&nbsp;: 

			</P>
			<P CLASS="western">de
			63 € à 99 €</P>
		</TD>
		<TD WIDTH=269>
			<P CLASS="western" STYLE="margin-bottom: 0cm">2,
			Rue Ecarlate</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 35 79 80</P>
			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.dragon.fr/">www.dragon.fr</A></U></P>

		</TD>
		<TD WIDTH=359>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Bel
			hôtel design et calme, près du centre ville</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>

		<TD WIDTH=160>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Hôtel
			le Métropole</P>
			<P CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=57>

			<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" ALIGN=CENTER></P>
		</TD>
		<TD WIDTH=143>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">De
			100 € à 160 €</P>

		</TD>
		<TD WIDTH=269>
			<P CLASS="western" STYLE="margin-bottom: 0cm">16,
			Rue Kuhn</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 14 39 14</P>
			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.bestwestern-monopole.com/">www.bestwestern
			monopole.com</A></U></P>
		</TD>
		<TD WIDTH=359>

			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Bon
			hôtel à côté de la gare</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=160>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>

			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Hôtel
			le Grillon</P>
			<P CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=57>
			<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0cm"><BR>
			</P>

			<P CLASS="western" ALIGN=CENTER></P>
		</TD>
		<TD WIDTH=143>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">De
			36 € à 76 €</P>
		</TD>
		<TD WIDTH=269>

			<P LANG="de-DE" CLASS="western" STYLE="margin-bottom: 0cm">2,
			Rue Thiergarten</P>
			<P LANG="de-DE" CLASS="western" STYLE="margin-bottom: 0cm">03
			88 32 71 88</P>
			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.grillon.com/"><SPAN LANG="de-DE">www.grillon.com</SPAN></A></U></P>
		</TD>
		<TD WIDTH=359>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Hôtel
			avec quelques chambres pas chères du tout,</P>
			<P CLASS="western">situé
			entre la gare et le centre ville</P>

		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=160>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Hôtel
			des Arts</P>
			<P CLASS="western"><BR>

			</P>
		</TD>
		<TD WIDTH=57>
			<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" ALIGN=CENTER></P>
		</TD>
		<TD WIDTH=143>

			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">De
			68 € à 75 €</P>
		</TD>
		<TD WIDTH=269>
			<P CLASS="western" STYLE="margin-bottom: 0cm">10,
			Place du Marché aux Cochons de Lait</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 37 98 37</P>

			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.hotel-arts.com/">www.hotel
			arts.com</A></U></P>
		</TD>
		<TD WIDTH=359>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Hôtel
			de bonne réputation, dans le quartier Cathédrale</P>
		</TD>
	</TR>

	<TR VALIGN=TOP>
		<TD WIDTH=160>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Hôtel
			Michelet</P>
			<P CLASS="western"><BR>
			</P>
		</TD>

		<TD WIDTH=57>
			<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" ALIGN=CENTER></P>
		</TD>
		<TD WIDTH=143>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>

			<P CLASS="western">De
			26 € à 49 €</P>
		</TD>
		<TD WIDTH=269>
			<P CLASS="western" STYLE="margin-bottom: 0cm">48,
			Rue du Vieux Marché aux Poissons</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 32 47 38</P>
			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.hotel-michelet.com/">www.hotel
			michelet.com</A></U></P>
		</TD>

		<TD WIDTH=359>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Un
			des hôtels les moins chers en plein centre ville</P>
		</TD>
	</TR>
</TABLE>
<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0cm; page-break-before: always">

<BR>
</P>
<TABLE BORDER=1 BORDERCOLOR="#000000" CELLPADDING=0 CELLSPACING=0>
	<COL WIDTH=248>
	<COL WIDTH=249>
	<COL WIDTH=260>
	<COL WIDTH=248>
	<TR VALIGN=TOP>
		<TD WIDTH=248>
			<P CLASS="western"><B>Chambre
			d’hôte</B></P>

		</TD>
		<TD WIDTH=249>
			<P CLASS="western"><B>Prix</B></P>
		</TD>
		<TD WIDTH=260>
			<P CLASS="western"><B>Adresse
			et site internet</B></P>
		</TD>
		<TD WIDTH=248>

			<P CLASS="western"><B>Avis</B></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=248>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>

			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">La
			Villa Novarina</P>
			<P CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=249>

			<P CLASS="western" STYLE="margin-bottom: 0cm">Chambres&nbsp;:</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Single
			de 80€ à 150€</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Double
			de 95€ à 250€</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Suite
			de 165€ à 350€</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>

			<P CLASS="western" STYLE="margin-bottom: 0cm">Appartements&nbsp;:</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">2
			personnes de 150€ à 350€ &nbsp;</P>
			<P CLASS="western">4
			personnes de 200€ à 500€</P>
		</TD>
		<TD WIDTH=260>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>

			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">11,
			Rue Westercamp</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			90 41 18 28</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.villanovarina.com/">www.villanovarina.com</A></U></P>
			<P CLASS="western"><BR>
			</P>

		</TD>
		<TD WIDTH=248>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Le
			grand luxe à côté du parc</P>
			<P CLASS="western">de
			l’Orangerie.</P>

		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=248>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">La
			Belle Strasbourgeoise</P>
		</TD>

		<TD WIDTH=249>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Chambres
			double à 80 € la nuit avec petit déjeuner, pour 1 personne</P>
			<P CLASS="western"><FONT COLOR="#ff0000">Chambres
			non disponible jusqu’au 04 janvier 2010</P>
		</TD>
		<TD WIDTH=260>
			<P CLASS="western" STYLE="margin-bottom: 0cm">13,
			Rue du Gal Offenstein</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 39 68 15</P>

			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.la-belle-strasbourgeoise.fr/">www.la
			belle strasbourgeoise.fr</A></U></P>
		</TD>
		<TD WIDTH=248>
			<P CLASS="western">Situé
			à la Meinau (Sud de Strasbourg), accès au centre de Strasbourg
			par le tram.</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=248>

			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Au
			Merlenchanteur</P>
		</TD>
		<TD WIDTH=249>
			<P CLASS="western" STYLE="margin-bottom: 0cm">70
			€ par nuit avec petit déjeuner,</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">pour
			1 ou 2 personnes</P>

			<P CLASS="western">Personne
			supplémentaire&nbsp;: 10 €</P>
		</TD>
		<TD WIDTH=260>
			<P CLASS="western" STYLE="margin-bottom: 0cm">10,
			Rue Principale</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">67300
			Schiltigheim</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">06
			20 74 28 31</P>

			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.chambre-hote-strasbourg.com/">www.chambre
			hote strasbourg.com</A></U></P>
		</TD>
		<TD WIDTH=248>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Situé
			au Nord de Strasbourg,<FONT SIZE=2 STYLE="font-size: 9pt"><BR>accès
			au centre par le bus et tram</P>
		</TD>

	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=248>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Saint
			Florent</P>
			<P CLASS="western"><BR>
			</P>

		</TD>
		<TD WIDTH=249>
			<P CLASS="western" STYLE="margin-bottom: 0cm">1
			personne 80€,</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">2
			personnes 100€</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">4
			personnes 180€</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Lit
			supplémentaire 20€</P>
			<P CLASS="western">Table
			d’hôtes sur commande 20€</P>

		</TD>
		<TD WIDTH=260>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">24,
			Rue d’Ottrott</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 27 23 13</P>
			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://lachambredhotes.blogspot.com/">http://lachambredhotes.blogspot.com/</A></U>

			
			</P>
		</TD>
		<TD WIDTH=248>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Situé
			au Nord Ouest de Strasbourg,</P>
			<P CLASS="western">Accès
			au centre par le bus</P>

		</TD>
	</TR>
</TABLE>
<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
</P>
<TABLE BORDER=1 BORDERCOLOR="#000000" CELLPADDING=0 CELLSPACING=0>
	<COL WIDTH=249>
	<COL WIDTH=250>
	<COL WIDTH=250>
	<COL WIDTH=250>

	<TR VALIGN=TOP>
		<TD WIDTH=249>
			<P CLASS="western"><B>Chambre
			d’hôte</B></P>
		</TD>
		<TD WIDTH=250>
			<P CLASS="western"><B>Prix</B></P>
		</TD>
		<TD WIDTH=250>

			<P CLASS="western"><B>Adresse
			et site internet</B></P>
		</TD>
		<TD WIDTH=250>
			<P CLASS="western"><B>Avis</B></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=249>

			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><FONT FACE="Calibri, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">CEJS</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><FONT FACE="Calibri, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Centre
			européen de la jeunesse Strasbourg</P>
			<P CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=250>

			<P CLASS="western" STYLE="margin-bottom: 0cm"><FONT FACE="Calibri, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">7
			Chambres avec 2 lits ont été réservées pour les nuits de
			vendredi et samedi. 
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western"><FONT FACE="Calibri, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Le
			lit 29€50; 5€ le petit déjeuner 
			</P>
		</TD>
		<TD WIDTH=250>

			<P CLASS="western"><STRONG><FONT FACE="Calibri, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN STYLE="font-weight: normal">Centre
			européen de la jeunesse</SPAN></STRONG><FONT FACE="Calibri, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><BR>30
			rue Pierre de Coubertin<BR>67000 STRASBOURG<BR>Tél. : +33 (0)3 88
			41 23 00<BR>Fax : +33 (0)3 88 41 27 77<BR>Email : youth@coe.int</P>
		</TD>
		<TD WIDTH=250>
			<P CLASS="western"><FONT FACE="Calibri, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Vous
			êtes sur place 
			</P>

		</TD>
	</TR>
</TABLE>
<P CLASS="western" STYLE="margin-bottom: 0cm; page-break-before: always">
<BR>
</P>
<TABLE BORDER=1 BORDERCOLOR="#000000" CELLPADDING=0 CELLSPACING=0>
	<COL WIDTH=192>
	<COL WIDTH=194>
	<COL WIDTH=193>
	<COL WIDTH=216>

	<COL WIDTH=194>
	<TR VALIGN=TOP>
		<TD WIDTH=192>
			<P CLASS="western"><B>Restaurant</B></P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western"><B>Catégorie</B></P>
		</TD>

		<TD WIDTH=193>
			<P CLASS="western"><B>Prix</B></P>
		</TD>
		<TD WIDTH=216>
			<P CLASS="western"><B>Adresse
			et site internet</B></P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western"><B>Avis</B></P>

		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=192>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Buerehiesel</P>
		</TD>

		<TD WIDTH=194>
			<P CLASS="western">Gastronomique</P>
		</TD>
		<TD WIDTH=193>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Menus
			à 65 € et 86 € 
			</P>

			<P CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=216>
			<P CLASS="western" STYLE="margin-bottom: 0cm">4,
			Parc de l’Orangerie</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 45 56 65</P>
			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.buerehiesel.fr/">www.buerehiesel.fr</A></U></P>

		</TD>
		<TD WIDTH=194>
			<P CLASS="western">Bon,
			classe, cher, cadre magnifique au cœur du parc de l’Orangerie.</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=192>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>

			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">La
			Cambuse</P>
			<P CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>

			<P CLASS="western">Gastronomique</P>
		</TD>
		<TD WIDTH=193>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Menu
			à 55 €</P>
		</TD>
		<TD WIDTH=216>

			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">1,
			Rue des Dentelles</P>
			<P CLASS="western">03
			88 22 10 22</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western">Le
			meilleur restaurant à poisson de Strasbourg. Cave excellente.
			Cadre magnifique. Situé dans la petite France. Réserver&nbsp;:
			souvent complet.</P>

		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=192>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Chez
			Yvonne</P>

			<P CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Winstub</P>

		</TD>
		<TD WIDTH=193>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Entre
			20 € et 50 €</P>
		</TD>

		<TD WIDTH=216>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">10,
			Rue du Sanglier</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 32 84 15</P>
			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.chez-yvonne.net/">www.chez
			yvonne.net</A></U>
			

			</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western" STYLE="margin-bottom: 0cm">La
			Winstub la plus célèbre de Strasbourg. Yvonne a vendu depuis
			longtemps. Cadre typique.</P>
			<P CLASS="western">Situé
			dans le quartier de la cathédrale.</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>

		<TD WIDTH=192>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">L’Alsace
			à Table</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>

			<P CLASS="western">Gastronomique</P>
		</TD>
		<TD WIDTH=193>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Entre
			20 €&nbsp;et 40 €</P>
		</TD>

		<TD WIDTH=216>
			<P CLASS="western" STYLE="margin-bottom: 0cm">8,
			Rue des Francs Bourgeois</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 32 50 62</P>
			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.alsace-a-table.fr/">www.alsace
			a table.fr</A></U>
			
			</P>
		</TD>

		<TD WIDTH=194>
			<P CLASS="western">Excellente
			table, notamment poisson. La choucroute aux poissons est
			excellente. Centre Ville, face à une station de tram.</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=192>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>

			<P CLASS="western">Le
			Fossile</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Gastronomique</P>
		</TD>
		<TD WIDTH=193>

			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Entre
			20 € et 40 €</P>
		</TD>
		<TD WIDTH=216>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Place
			des Orphelins</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 36 39 76</P>

			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.lefossil.fr/">www.lefossil.fr</A></U></P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Le
			spécialiste de l’onglet à échalote. Cave excellente.</P>
			<P CLASS="western">Centre
			ville.</P>
		</TD>
	</TR>

	<TR VALIGN=TOP>
		<TD WIDTH=192>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Osaka</P>
			<P CLASS="western"><BR>

			</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Restaurant
			japonais</P>

		</TD>
		<TD WIDTH=193>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Entre
			20 € et 35 €</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Menu
			déjeuner à 11,50 €</P>
			<P CLASS="western">(formule
			Bento, rapide, consistant et agréable)</P>
		</TD>
		<TD WIDTH=216>

			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">50,
			Rue Jeu des Enfants</P>
			<P CLASS="western">03
			88 22 26 72</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western">Le
			premier restaurant japonais de Strasbourg. Situé au centre ville.
			Banal pour ceux qui connaissent les japonais des grandes capitales
			ou du Japon.</P>

		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=192>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Le
			Clou</P>
			<P CLASS="western"><BR>

			</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Winstub</P>
		</TD>
		<TD WIDTH=193>

			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Entre
			15 € et 40 €</P>
		</TD>
		<TD WIDTH=216>
			<P CLASS="western" STYLE="margin-bottom: 0cm">3,
			Rue Chaudron</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 32 11 67</P>

			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.le-clou.com/">www.le
			clou.com</A></U></P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western" STYLE="margin-bottom: 0cm">L’alternative
			de «&nbsp;Chez Yvonne&nbsp;», à quelques pas.</P>
			<P CLASS="western">Cadre
			typique.</P>
		</TD>

	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=192>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">La
			Taverne du Sommelier</P>
			<P CLASS="western"><BR>
			</P>

		</TD>
		<TD WIDTH=194>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Gastronomique</P>
		</TD>
		<TD WIDTH=193>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>

			</P>
			<P CLASS="western">Entre
			15 € et 30 €</P>
		</TD>
		<TD WIDTH=216>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">3,
			Ruelle de la Bruche</P>
			<P CLASS="western">03
			88 24 14 10</P>

		</TD>
		<TD WIDTH=194>
			<P CLASS="western">Le
			bon rapport qualité prix. Bonne table et vins sympas.</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=192>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>

			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Le
			Bouquet Garni</P>
			<P CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=194>

			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Gastronomique</P>
		</TD>
		<TD WIDTH=193>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>

			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Entre
			15 € et 30 €</P>
		</TD>
		<TD WIDTH=216>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>

			<P CLASS="western" STYLE="margin-bottom: 0cm">41,
			Route de l’Hôpital</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 34 66 86</P>
			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.lebouquetgarni.com/">http://www.lebouquetgarni.com/</A></U><FONT SIZE=2 STYLE="font-size: 9pt">
			
			</P>
		</TD>
		<TD WIDTH=194>

			<P CLASS="western">La
			cantine de Latitude et de l’hôtel de police. Excellente table,
			cadre calme. Terrasse en été. Un des meilleurs rapport qualité
			prix de Strasbourg. Accès tram.</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=192>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>

			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Le
			Scala</P>
			<P CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>

			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Brasserie</P>
		</TD>
		<TD WIDTH=193>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>

			</P>
			<P CLASS="western">Entre
			15 € et 30 €</P>
		</TD>
		<TD WIDTH=216>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">96,
			Route du Polygone</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			90 41 24 45</P>

			<P CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Micro
			brasserie. Bonne table. Déco contemporaine sympa, avec vue sur
			les cuves de brasserie.</P>
			<P CLASS="western">Situé
			dans le quartier du Neudorf (Sud). Accès tram.</P>
		</TD>
	</TR>

	<TR VALIGN=TOP>
		<TD WIDTH=192>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Au
			Pont du Corbeau</P>
			<P CLASS="western"><BR>
			</P>
		</TD>

		<TD WIDTH=194>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Winstub</P>
		</TD>
		<TD WIDTH=193>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>

			<P CLASS="western">Entre
			15 € et 23 €</P>
		</TD>
		<TD WIDTH=216>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">21,
			Quai St Nicolas</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 35 60 68</P>

			<P CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western">La
			vraie winstub alsacienne. Bonne cuisine, ambiance chaleureuse, bon
			rapport qualité prix. Situé au centre ville.</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>

		<TD WIDTH=192>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Brasserie
			HK</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>

			<P CLASS="western">Brasserie</P>
		</TD>
		<TD WIDTH=193>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Entre
			15 et 20 €</P>
		</TD>
		<TD WIDTH=216>

			<P CLASS="western" STYLE="margin-bottom: 0cm">12,
			Rue du Vieux Marché aux Vins</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 32 11 05</P>
			<P CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western">Une
			bonne adresse pour manger bien, pas trop cher et avec les
			Strasbourgeois.</P>

		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=192>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">La
			Fourchette et la Plume 
			</P>

		</TD>
		<TD WIDTH=194>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Restaurant
			Bio</P>
		</TD>
		<TD WIDTH=193>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>

			</P>
			<P CLASS="western">Entre
			12€ et 15 €</P>
		</TD>
		<TD WIDTH=216>
			<P CLASS="western" STYLE="margin-bottom: 0cm">8,
			Rue Principale</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">67300
			Schiltigheim</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 83 39 32</P>

			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.la-fourchette-et-la-plume.com/">www.la
			fourchette et la plume.com</A></U></P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western">Situé
			au Nord de Strasbourg.</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=192>

			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Le
			Flam’s (Tartes flambées)</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Fast
			food</P>

		</TD>
		<TD WIDTH=193>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Formules
			entre<FONT SIZE=2 STYLE="font-size: 9pt"><BR>6,50
			€ et 8,70 €</P>
			<P CLASS="western"><BR>
			</P>
		</TD>

		<TD WIDTH=216>
			<P CLASS="western" STYLE="margin-bottom: 0cm">29,
			Rue Frères</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 36 36 90</P>
			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.flams.fr/">www.flams.fr</A></U>
			
			</P>
		</TD>

		<TD WIDTH=194>
			<P CLASS="western">Spécialité
			alsacienne de tartes flambées, à petit prix. Situé dansle
			quartier étudiant près de la cathédrale.</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=192>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>

			<P CLASS="western">Wok
			Thai</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Fast
			food</P>
		</TD>
		<TD WIDTH=193>

			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Formules
			entre 10 et 20 €</P>
		</TD>
		<TD WIDTH=216>
			<P CLASS="western" STYLE="margin-bottom: 0cm">19,
			Rue des Francs Bourgeois</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 22 21 48</P>

			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.wokthai.fr/">www.wokthai.fr/</A></U>
			
			</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western">Fast
			food asiatique. Situé au centre ville.</P>
		</TD>
	</TR>

	<TR VALIGN=TOP>
		<TD WIDTH=192>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Streeat</P>
			<P CLASS="western"><BR>
			</P>
		</TD>

		<TD WIDTH=194>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Fast
			food</P>
		</TD>
		<TD WIDTH=193>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>

			<P CLASS="western">Entre
			6 et 10 €</P>
		</TD>
		<TD WIDTH=216>
			<P CLASS="western" STYLE="margin-bottom: 0cm">10A,
			Rue de Sébastopol</P>
			<P CLASS="western">03
			88 23 17 10</P>
		</TD>
		<TD WIDTH=194>

			<P CLASS="western">Composez
			votre plat à emporter. Super bon et copieux.</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=192>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Nooi</P>

			<P CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western">Fast
			food</P>
		</TD>
		<TD WIDTH=193>
			<P CLASS="western"><BR>

			</P>
		</TD>
		<TD WIDTH=216>
			<P CLASS="western" STYLE="margin-bottom: 0cm">17,
			rue Saint Marc</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 32 24 35</P>
			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.nooi-blog.fr/">http://www.nooi
			blog.fr/</A></U>
			

			</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western">Nouilles
			à emporter. Bon et bourratif.</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=192>

			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">ADAN</P>
			<P CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>

			</P>
			<P CLASS="western">Restaurant
			Bio et végétarien</P>
		</TD>
		<TD WIDTH=193>
			<P CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=216>

			<P CLASS="western" STYLE="margin-bottom: 0cm">6
			rue Sédillot</P>
			<P CLASS="western">03
			88 35 70 84 
			</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western">Vérifier
			si ça existe toujours. Très fréquenté par une communauté
			végétarienne. Ca a l’air bon…</P>
		</TD>

	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=192>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Il
			Girasole</P>
			<P CLASS="western"><BR>
			</P>

		</TD>
		<TD WIDTH=194>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Restaurant
			italien</P>
		</TD>
		<TD WIDTH=193>
			<P CLASS="western"><BR>

			</P>
		</TD>
		<TD WIDTH=216>
			<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0cm">12,
			Quai St Nicolas</P>
			<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0cm">03
			88 37 16 76</P>
			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.ilgirasole.fr/"><SPAN LANG="en-GB">www.ilgirasole.fr</SPAN></A></U></P>
		</TD>

		<TD WIDTH=194>
			<P CLASS="western">Le
			meilleur restaurant italien de Strasbourg. Tenu de main de maître
			par une mamma italienne. On mange pour trois jours.</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=192>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>

			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western">Le
			Mooze</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>

			</P>
			<P CLASS="western">Restaurant
			japonais</P>
		</TD>
		<TD WIDTH=193>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">Tarif
			à la pièce. On ne se rend compte qu’à la fin que c’est
			cher.</P>
			<P CLASS="western"><BR>

			</P>
		</TD>
		<TD WIDTH=216>
			<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
			</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">1,
			Rue Demi Lune</P>
			<P CLASS="western" STYLE="margin-bottom: 0cm">03
			88 32 64 23</P>
			<P CLASS="western"><FONT COLOR="#0000ff"><U><A CLASS="western" HREF="http://www.mooze.fr/">www.mooze.fr</A></U>

			
			</P>
		</TD>
		<TD WIDTH=194>
			<P CLASS="western">Concept
			de fast food japonais&nbsp;: vous choisissez les pièces qui
			circulent devant vous sur une bande transporteuse. Beau design,
			toilettes superbes, clientèle jeune, poisson pas meilleur qu’à
			l’osaka</P>
		</TD>
	</TR>
</TABLE>

