.block
  %h3 User management
  .content
    %p
      Here you can
      %span.hightlight manage
      users

    %p
      %b Legend:
      %ul.list
        %li!= image_tag("web-app-theme/icons/application_edit.png", :alt => "Edit") + " to edit a user"
        %li!= image_tag("web-app-theme/icons/cross.png", :alt => "Delete") + " to delete a user"
